.menu_box{
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(250px , 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  padding: 10px;
}
.menu_name{
  text-align: center;
  font-size: 30px;
  font-weight: 750;
}
/* GENERAL STYLES */

body {
  font-family: "Ubuntu", sans-serif;
  /* sets font family for entire page */
}

@font-face /*  Specifies Custom Font to display the text */ {
  font-family: myFirstFont;
  src: url(fonts/EMcomic-Bold.ttf);
}

#loading {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0.8;
  background-color: #000000;
  z-index: 99;
}

.container {
  padding: 0;
}

.row {
  width: 100%;
  margin: auto;
}

/* NAVBAR SECTION */
/* .navbar-expand-lg {
  background-color: #000000;
  z-index: 2;
  height: 74px;
}

.navbar-brand {
  font-family: "elinga", "myFirstFont", "Roboto";
  font-weight: 500;
  font-size: 56px;
}

.nav-item{
  font-size: 1.1rem;
  font-weight: 500;
}

.fixed-top {
  z-index: 11;
} */


/* CATEGORY SECTION */

#categorySection {
  padding-top: 1%;
  background-color: aqua;
  padding-bottom: 4%;
}

#categorySection .container h1 {
  text-align: center;
  margin: 50px auto;
}

#categorySection .container h1 span {
  font-size: 4.5rem;
  border: 1px solid #a8763e;
  background-color: white;
  color: #6f1a07;
  padding: 1px 5px;
  font-family: "Roboto";
}

.product-box-layout4{
  border-radius: 15px;
  padding: 15px;
}
.product-box-layout4:hover {
  /* padding: 30px; */
  background-color: rgba(128, 255, 0, 0.546);
  border-radius: 20px;
  padding: 15px;
  cursor: pointer;
  /* position: relative;
  z-index: 2;
  margin-bottom: 4rem; */
}



.product-box-layout4 .item-figure {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
  /* height: 100px; */
  width: 60px;
  cursor: pointer;
  margin: auto;
}
.product-box-layout4 .item-figure img{
  width: 60px;
}
.item-content .card-title {
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
}



.product-box-layout4 .item-content {
  text-align: center;
  /* padding: 25px 0 0; */
}



/* MENU CARD */
.menu-items {
  display: none;
}


.shoppingCart {
  padding-top: 5px;
  font-size: 1.4rem;
  color: snow;
  position: absolute;
  right: 4rem;
  top: 1rem;
}

.shoppingCart i {
  color: black;
}

.shoppingCartWithItems {
  color: #79d70f;
}

.shoppingCartAfter {
  position: absolute;
  font-size: 0.7rem;
  padding: 1px 5px;
  border-radius: 50%;
  background-color: #000000;
  top: 0;
  right: -13px;
  color: white;
}

.shoppingCart:hover {
  cursor: pointer;
}

.card {
  display: inline-block;
  width: 100%;
  /* padding: 2rem 1rem 5rem 1rem; */
  /* background-color: #ffe6cc; */
  position: relative;
  border: none;
  border-radius: 10px;
}


.foodItemImg img{
  border-radius: 10px;
  width: 100%;
}
.foodItemName {
  font-size: 1rem;
    margin: 0;
    margin-bottom: -0.1rem !important;
    padding: 0;
    padding-right: 3px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
}

.card-body {
  padding: 10px;
}



.vegIcon {
  height: 15px;
  width: 15px;
  display: inline-block;
  margin-left: 5px;
}

.nonVegIcon {
  height: 15px;
  width: 15px;
  display: inline-block;
  margin-left: 5px;
}

.text-muted-small {
  color: #434b52;
  margin-bottom: 3px;
  font-size: 0.85rem;
}

.addCol {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.quantity {
  background-color: snow;
  display: flex;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 22px;
  width: 22px;
  margin: auto 8px;
  padding: 5px;
}

.menuBtn {
  font-size: 0.75rem;
}

.menuBtn:hover {
  cursor: pointer;
}

.checkOutRow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 0 ;
  text-align: center;
  width: fit-content;
}

.checkOutRow .knowMoreBtn {
  background-color: #ffe6cc;
  font-size: 1.3rem;
}


/************************ SHOPPING CART CSS ********************/

.modal-body {
  padding: 0;
}

.modal-body .container-fluid {
  padding: 5px;
}

.paymentInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
}

.checkIcon {
  font-size: 1.5rem;
  color: red;
  margin: auto 7px;
}

.cartContentDiv {
  padding: 10px 0 10px 0;
}

.cartContentRow .col-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.cartContentRow .col-10 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cartQuantity

/* Total number of cart items */ {
  font-size: 0.8rem;
}

.cartContentRow .col-2 .text-muted-small {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

/* horizontal line after each selected item on cart */
.cartHr {
  color: black;
  width: 90%;
  margin: 5px auto;
}

/* Section for total amount on Cart */
.totalAmountDiv {
  position: absolute;
  bottom: 8px;
  left: 0;
  padding-left: 15px;
}

.totalAmountText {
  font-size: 0.9rem;
  letter-spacing: 1px;
}

/* Scroll To Top Button */

#scrollToTop {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  background-color: #ff9800;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 3%;
  right: 2%;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

/* Scroll To Top Button Hover Over styles */
#scrollToTop:hover {
  cursor: pointer;
  background-color: #333;
}

/* After Scroll Top Button Has Been Clicked */
#scrollToTop:active {
  background-color: #555;
}

#scrollToTop.show {
  opacity: 1;
  visibility: visible;
}



/* MEDIA QUERIES FOR RESPONSIVENESS */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: black;
  border: 1px solid white;
}
/* 

/* checkout icons */
.checkIcon {
  color: green;
}
